{% extends 'base.html' %}

{% block content %}
<div class="row">
</div>
<div class="row align-items-center" style="margin:auto; padding:70px 0;">
<div class="card mx-auto mr-auto justify-content-center" style="width: 18rem;">
    <div class="card-header">
        <h1 class="card-title">Add new category</h1>
    </div>
        <div class="card-body">
            <div class="wrapper">
        <form method="post" action="">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">

</form>
            </div>
</div>
</div>
</div>
{% endblock %}