{% extends 'base.html' %}

{% block content %}
<div class="row">
</div>
<div class="row align-items-center" style="margin:auto; padding:70px 0;">
<div class="card mx-auto mr-auto justify-content-center" style="width: 18rem;">
    <div class="card-header">
        <h1 class="card-title">{{category.name}}</h1>
    </div>
        <div class="card-body">
            <div class="wrapper">
                <row class="col-md-3">Name: {{category.name}}</row>
                <row class="col-md-3">Default Tax rate: {{category.default_tax_rate}}</row>
                <row><a href="{% url  %}"</row>
            </div>

</div>
</div>
</div>
{% endblock %}