{% extends 'base.html' %}

{% block content %}
<H1>Products</H1>
<a class='btn' href="{% url 'add_product' %}">Add New</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Default Price</th>
        <th scope="col">Price Currency</th>
        <th scope="col">Action</th>
    </tr>
  </thead>

{% for category in categories %}
    <tr>
        <td colspan="3"><b>Category: {{category.name}}</b></td>
    <td colspan="2"><b>Tax Rate(%):{{category.default_tax_rate}}</b></td></tr>
    {% for product in category.product_set.all %}
    <tr>
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.default_price}}</td>
        <td>{{product.price_currency}}</td>

      <td></td>
    </tr>
    {% endfor %}
    {% endfor %}
</table>
<a href="{%url 'add_product_category'%}">Add new category</a>
{% endblock %}