{% extends 'base.html' %}

{% block content %}
<H1>Customers</H1>
<a class='btn' href="{% url 'add_customer' %}">Add New</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Company Name</th>
      <th scope="col">Tax_ID</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

{% for customer in customers %}
<tr>
  <td>{{customer.id}}</td>
  <td>{{customer.name}}</td>
  <td>{{customer.tax_id}}</td>
  <td><a href="{% url 'new_invoice' %}?recipient={{customer.id}}">new invoice</a></td>
</tr>
{% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if customers.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ customers.number }} of {{ customers.paginator.num_pages }}.
        </span>

        {% if customers.has_next %}
            <a href="?page={{ customers.next_page_number }}">next</a>
            <a href="?page={{ customers.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}