{% extends 'base.html' %}

{% block content %}
<div class="row">
</div>
<div class="row align-items-center" style="margin:auto; padding:70px 0;">
<div class="card col-md-6 mx-auto mr-auto justify-content-center" style="width: 18rem;">
    <div class="card-header">
        <h1 class="card-title">Enter your company address</h1>
    </div>
        <div class="card-body container">
            <div class="wrapper">
        <form method="post" action="">
    {% csrf_token %}
    {% for field in form %}
            <div class="row">
                {% for error in field.errors %}
                {{error}}<br>
                {% endfor %}
            <div class="col-md-6">
                {{field.label}}
            </div>
            <div class="col-md-6">
                {{field}}
            </div>
            </div>
            {% endfor %}
    <input type="submit" value="Submit">

</form>
            </div>
</div>
</div>
</div>
{% endblock %}