{% extends 'base.html' %}


{% block content %}

<div class="row mx-auto">
<div class="card col-md-6">

    <div class="card-header">
    User Profile
    </div>
    <div class="card-body">
    First Name: {{user.first_name}}<br>
    Last Name:  {{user.last_name}}<br>
    Employment Date:  {{user.profile.employment_date}}
    </div>
</div>
</div>


<div class="row mx-auto">
<div class="card col-md-6">

    <div class="card-header">
    Company
    </div>
    <div class="card-body">
    Name: {{user.profile.company.name}}<br>
    Tax ID:  {{user.profile.company.tax_id}}<br>
    Country: {{user.profile.company.country}}
    </div>
</div>
</div>


<div class="row mx-auto">
<div class="card col-md-6">

    <div class="card-header">
    Headquarters
    </div>
    <div class="card-body container">
        {% if user.profile.company.headquarters != None %}
        <div clas="row">
            <div class="col-md-6">
           {{user.profile.company.headquarters.street_name1}}
            </div>
            {% if user.profile.company.headquarters.street_name2 != None %}
             <div class="col-md-6">
           {{user.profile.company.headquarters.street_name2}}
            </div>
            {% endif %}
        </div>
        <div clas="row">
            <div class="col-md-6">
           Zip:
            </div>

             <div class="col-md-6">
           {{user.profile.company.headquarters.zipcode}}
            </div>

        </div>

                <div clas="row">
            <div class="col-md-6">
           City:
            </div>

             <div class="col-md-6">
           {{user.profile.company.headquarters.city}}
            </div>

        </div>


        {% else %}
        No Headquarters were added yet. Please contact your administrator.
        {% endif %}
                {% if user.profile.company.owner == user %}
           <a href="{% url 'company_edit' %}">Edit</a>
        {% endif %}

    </div>
</div>
</div>
{% endblock %}