<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'invoicing/css/style.css' %}" />
    <meta charset="UTF-8">
     <link rel="stylesheet" type="text/css" href="{% static 'invoicing/css/bootstrap.min.css' %}" />
    <script type="text/javascript"  src="{% static 'invoice/js/jquery-3.2.1.slim.min.js' %}"></script>
    <script type="text/javascript"  src="{% static 'invoice/js/popper.min.js' %}"></script>
   <script type="text/javascript"  src="{% static 'invoice/js/bootstrap.min.js' %}"></script>
    {% block title %}
    {% endblock %}
    {% block head %}
    {% endblock %}
</head>
<body>
<nav class="nav navbar navbar-default navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'index' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
      {% if user.is_authenticated %}
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'customers' %}">Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'product_list' %}">Products</a>
      </li>
              <li class="nav-item">
        <a class="nav-link" href="{% url 'list_orders' %}">Orders</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Invoices
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'new_invoice' %}">New</a>
          <a class="dropdown-item" href="{% url 'invoices_issued' %}">Issued</a>
          <a class="dropdown-item" href="{% url 'invoices_received' %}">Received</a>
        </div>
      </li>
        {% endif %}
    </ul>


  </div>
<div class="float-right">

    {% if user.is_authenticated %}
    <a href="{% url 'profile_view' user.id %}">{{user.first_name}}</a>
          <a href="{% url 'logout' %}">
        <button class="btn btn-link">Log out</button>
    </a>
    {% else %}
    <a href="{% url 'login' %}">
        <button class="btn btn-link">Log In</button>
    </a>
    {% endif %}


</div>

  </nav>

<main class="container" role="main">
    {% if messages %}
    {% for message in messages %}
        <div class="{{message.tags}}">{{message}}</div>
    {% endfor %}
    {% endif %}
{% block content %}
{% endblock %}
</main>
<footer class="footer bg-light sticky-bottom">
    <div class="container">
            <span class="text-muted">This software is published under <a href="http://www.wtfpl.net/"> WTFPL license</a>.</p><p>&copy Juan Castillo & Jakub Dering</p></span>
        </div>
</footer>
</body>
</html>