{% extends 'base.html' %}

{% block content %}
<H1>Assigned to me</H1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Items</th>
      <th scope="col">Tax_ID</th>
        <th scope="col">Order Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

{% for order in assigned_orders %}
<tr>
  <td>{{order.id}}</td>
  <td>{{order.items}}</td>
    <td>{{order.tax_id}}</td>
  <td>{{order.order_date}}</td>
  <td><form action="{% url 'complete_order' order_id=order.id %}" method="POST">{% csrf_token %}<input type="submit" value="Complete"></form></td>
</tr>
{% endfor %}
</table>


<H1>Pending Orders</H1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Items</th>
      <th scope="col">Tax_ID</th>
        <th scope="col">Order Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

{% for order in orders %}
<tr>
  <td>{{order.id}}</td>
  <td>{{order.items}}</td>
    <td>{{order.tax_id}}</td>
  <td>{{order.order_date}}</td>
  <td><form action="{% url 'accept_order' order_id=order.id%}" method="POST">{% csrf_token %}<input type="submit" value="Accept"></form></td>
</tr>
{% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if invoices.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ invoices.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            {% if invoices.paginator.num_pages %}
            Page {{ invoices.number }} of {{ invoices.paginator.num_pages }}.
        </span>

        {% if invoices.has_next %}
            <a href="?page={{ invoices.next_page_number }}">next</a>
            <a href="?page={{ invoices.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
        {% endif %}
    </span>
</div>
</div>

{% endblock %}