{% extends 'base.html' %}

{% block content %}


<div class="card">
    <div class="card-header">
        Order number {{order.id}}
    </div>
    <div class="card-body">
        <div class="row col-md-6">
            <div class="col-md-3">Items:</div>
            <div class="col-md-6">{{order.items}}</div>
        </div>
                <div class="row col-md-6">
            <div class="col-md-3">Assigned Status</div>
            <div class="col-md-6">{{order.orderstatus.status}}</div>
        </div>
        <div class="row col-md-6">
            <div class="col-md-3">Delivery Address:</div>
            <div class="col-md-6">
                <div class="row">Street Address 1: {{order.delivery_address.street_name1}}</div>
                <div class="row">Street Address 2: {{order.delivery_address.street_name2}}</div>
                <div class="row">Zip Code: {{order.delivery_address.zipcode}}</div>
                <div class="row">City: {{order.delivery_address.city}}</div>
                <div class="row">Phone number: {{order.delivery_address.phone_number}}</div>
                <div class="row">E-mail: {{order.delivery_address.email}}</div>
            </div>
        </div>

        <div class="row col-md-6">
            <div class="col-md-3">Tax ID:</div>
            <div class="col-md-6">{{order.tax_id}}</div>
        </div>

    </div>
</div>

{% endblock %}