{% extends 'base.html' %}

{% block content %}
<H1>Invoices Issued</H1>
<a class='btn' href="{% url 'new_invoice' %}">Add New</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Company Name</th>
      <th scope="col">Tax_ID</th>
        <th scope="col">Items</th>
      <th scope="col">Status</th>
    </tr>
  </thead>

{% for invoice in invoices %}
<tr>
  <td>{{invoice.id}}</td>
  <td>{{invoice.recipient_name}}</td>
    <td>{{invoice.issuer__tax_id}}</td>
  <td>{{invoice.items}}</td>
  <td><a href="{% url 'new_invoice' %}?recipient={{customer.id}}">new invoice</a></td>
</tr>
{% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if invoices.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ invoices.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            {% if invoices.paginator.num_pages %}
            Page {{ invoices.number }} of {{ invoices.paginator.num_pages }}.
        </span>

        {% if invoices.has_next %}
            <a href="?page={{ invoices.next_page_number }}">next</a>
            <a href="?page={{ invoices.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
        {% endif %}
    </span>
</div>

{% endblock %}