{% extends 'base.html' %}

{% block head %}
{% load static %}
<script type="text/javascript"  src="{% static 'invoice/js/jquery-latest.js' %}"></script>
<script type="text/javascript"  src="{% static 'invoice/js/addQuerysetRow.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'invoicing/css/input.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'invoicing/css/error.css' %}" />
{% endblock %}

{% block content %}
    <form action="" method="post">{% csrf_token %}
<div class="row center-block">

    <div class="span12" style="float: none; margin: 0 auto;">
        <div class="col-sm-6 d-inline strong">{{form.internal_id.label}}</div> <div class="col-sm-1 d-inline">{{form.internal_id}}</div>
</div>

        <div class="row col-sm-6 colmd-12">
    <div class="col-sm-1">{{form.due_date.label}}</div> <div class="col-sm-3 d-inline">{{form.due_date}}</div>
    <div class="col-sm-1">{{form.issue_date.label}}</div> <div class="col-sm-3 d-inline">{{form.issue_date}}</div>

</div>
</div>
        <div class="row row-eq-height">
            <div class="col-md-6">
<div class="card">
    <div class="card-header">
        Issuer
    </div>
    <div class="card-body">
<div class="row">
<div class="col-md-6">Name:</div>
    <div class="col-md-6">{{user.profile.company.name}}</div>
</div>

        <div class="row">
<div class="col-md-6">Tax ID:</div>
    <div class="col-md-6">{{user.profile.company.tax_id}}</div>
</div>



    </div>
</div>

            </div>
            <div class="col-md-6">
<div class="card">
    <div class="card-header">
        Recipient
    </div>
    <div class="card-body">
        <div class="row">
            {% for error in field.errors %}
            <div class="col-md-12">
                {{field.error}}
            </div>
            {% endfor %}
        </div>

        <div class="row">
                <div class="col-md-6">{{form.recipient_name.label}}
                </div>
                <div class="col-md-6">
                {{form.recipient_name}}
                </div>
        </div>
        <div class="row">
                <div class="col-md-6">{{form.tax_id.label}}
                </div>
                <div class="col-md-6">
                {{form.tax_id}}
                </div>
        </div>
        <div class="row">
                <div class="col-md-6">{{form.currency.label}}
                </div>
                <div class="col-md-6">
                {{form.currency}}
                </div>
        </div>

            {% for field in address_form %}
            <div class="row">
                <div class="col-md-6">{{field.label}}
                </div>
                <div class="col-md-6">
                {{field}}
                </div>
            </div>
            {% endfor %}
        </div>
</div>
    {{formset.management_form}}
        </div>
        </div>
        <div class="col-md-12">
            <div>
                <div>

<fieldset class="form-group">
    <legend>Items</legend>


   {% if form.non_field_errors %}


  <div class="non-field-errors">
    {% for err in form.non_field_errors %}
      <p class="form-error">{{ err }}</p>
    {% endfor %}
  </div>


    {% endif %}

<div class="row">
    <div class="col-md-2">Name</div>
    <div class="col-md-1">Quantity</div>
    <div class="col-md-2">Price</div>
    <div class="col-md-2">Total Net</div>
    <div class="col-md-1">Tax Rate (%)</div>
    <div class="col-md-2">Total Gross</div>
    <div class="col-md-2">Action</div>
</div>
            {% for form in formset.forms %}
            {% if form.non_field_errors %}
    <div class="row">

            {% for error in form.non_field_errors %}

                <div class="field-error alert alert-danger">{{error}}</div>
                           {% endfor %}
        </div>
            {% endif %}
            <div class="row item">

                    {% for error in form.name.errors %}
                    <div class="field-error alert alert-danger">{{error}}</div>
                    {% endfor %}
                <div class="col-md-2">{{form.name}}</div>



                    {% for error in form.quantity.errors %}
                    <div class="field-error alert alert-danger">{{error}}</div>
                    {% endfor %}
                <div class="col-md-1">{{form.quantity}}</div>
                    {% for error in form.price.errors %}
                    <div class="field-error alert alert-danger">{{error}}</div>
                    {% endfor %}
                <div class="col-md-2">{{form.price}}</div>

                <div class="col-md-2">{{form.net_total}}</div>
                {% for error in form.tax_rate.errors %}
                    <div class="field-error alert alert-danger">{{error}}</div>
                {% endfor %}
                <div class="col-md-1">{{form.tax_rate}}</div>
                <div class="col-md-2">{{form.gross_total}}</div>
                <div class="col-md-2"><button class="btn delete" type="button">Delete</button></div>
            </div>

        {% endfor %}

    <div class="row">
            <button id="add" class="btn" onclick="addForm(this,'form')" type="button">Add another item</button>
    </div>


</fieldset>
                </div>
            </div>
        </div>


<div class="row">


        <input type="submit" class="btn" value="Save"/>
</div>
    </form>

{% endblock %}